# Ignore Python cache files
__pycache__/
*.pyc

# Ignore MacOS system files
.DS_Store

# Ignore log files
*.log

# Ignore build directories
/dist/
/build/

# Ignore environment files (for secrets)
.env

# Ignore all .csv files but keep specific ones
*.csv

# Ignore a specific directory and all its contents
secrets/