python-multipart
pytest==8.3.3
pytest-cov==6.0.0
torch==2.2.2
google-cloud-aiplatform>=1.27.0
numpy<2.0
scikit-learn==1.3.0
transformers==4.34.0
gcsfs==2023.10.0
httpx==0.24.0
reportlab==4.0.4

# Essential Libraries
fastapi==0.78.0 
uvicorn==0.13.4
pandas==2.2.3
tensorflow==2.16.1
nltk
fuzzywuzzy

# Google Cloud SDK and related dependencies
google-api-core==2.23.0
google-auth==2.36.0
# google-cloud-aiplatform[all]==1.71.1
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.13.1
grpcio==1.68.0
grpcio-status
proto-plus==1.25.0
protobuf==4.23.4

# HTTP and Networking
requests==2.32.3
urllib3==1.26.18
certifi==2024.8.30
idna==3.10

# PyMuPDF for PDF processing
PyMuPDF==1.24.13

# Miscellaneous utilities
shapely==2.0.6

# Optional Libraries for Development and Testing
nose==1.3.7
