# Essential Libraries
fastapi==0.78.0 
uvicorn==0.13.4
pandas==2.2.3
numpy==1.24.3
tensorflow==2.16.1
nltk
fuzzywuzzy

# Google Cloud SDK and related dependencies
google-api-core==2.23.0
google-auth==2.36.0
google-cloud-aiplatform[all]==1.71.1
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.13.1
grpcio==1.68.0
grpcio-status
proto-plus==1.25.0
protobuf==4.23.4

# HTTP and Networking
requests==2.32.3
urllib3==1.26.18
certifi==2024.8.30
idna==3.10

# PyMuPDF for PDF processing
PyMuPDF==1.24.13

# Pydantic and dependencies
pydantic==2.9.2
pydantic_core==2.23.4
typing_extensions==4.12.2

# Other essential libraries
packaging==24.2
python-dateutil==2.9.0.post0
python-multipart==0.0.5
tzdata==2024.2
pytz==2022.7.1
markupsafe==1.1.1

# Miscellaneous utilities
shapely==2.0.6

# Optional Libraries for Development and Testing
nose==1.3.7
